{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>todoapp</title>
    <link href=/staticfiles/css/app.45531d3aa40f2bc08b82df63eb2617d3.css rel=stylesheet>
  </head>
  <body>
    <div id=app></div>
    <script type=text/javascript src=/staticfiles/js/manifest.2ae2e69a05c33dfc65f8.js></script>
    <script type=text/javascript src=/staticfiles/js/vendor.c1cb37fa49fc0b466672.js></script>
    <script type=text/javascript src=/staticfiles/js/app.3ead5b924ef4af82a3ab.js></script>
  </body>
</html>
